<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header border-bottom">
        <h1>Список телефонных номеров</h1>
      </div>
      <div class="card-body">
        <div class="row">
          <h3 class="ml-3">Телефон</h3>
        </div>
        {{for PhoneList sort="#data['@Status']"}}
        <div class="row">
          <div class="col-md-8">
            {{:"+7" + #data['@Code'] + #data['@Number']}}
          </div>
          <div class="col-md-4">{{:#data['@Status']}}</div>
        </div>
        {{/for}}
        <div class="row border-top"><br /></div>
        <div class="row">
          <h3 class="ml-3">Факс</h3>
        </div>
        {{for FaxList sort="#data['@Status']"}}
        <div class="row">
          <div class="col-md-8">
            {{:"+7" + #data['@Code'] + #data['@Number']}}
          </div>
          <div class="col-md-4">{{:#data['@Status']}}</div>
        </div>
        {{/for}}
      </div>
    </div>
  </div>
</div>
